body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.header {
    background-color: #ff0000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main {
    font-family: Arial, sans-serif;
    color: white;
    margin: 20px;
    padding: 20px;
    background-color: #545454;
}
.main a {
    color: #ffffff;
    text-decoration: none;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 1px;
    width: 100%;
    bottom: 0;
}
